<div style="font-size: 14px; line-hight: 24px; color: #333; font-family: sans-serif;">
  <p>Olá {{name}}</p>
  <p>Seu evento <strong>"{{title}}"</strong> acontecerá em 30 minutos</p>
  <p>Obrigado</p>
  <strong>Scheduler App</strong>
</div>
