<div style="font-size: 14px; line-hight: 24px; color: #333; font-family: sans-serif;">
  <p>Olá,</p>
  <p>{{name}} gostaria de compartilhar esse evento com você:</p>
  <p><strong>"{{title}}"</strong> que ocorrerá {{date}} às {{time}}</p>
  <br>
  <p>Obrigado</p>
  <strong>Scheduler App</strong>
</div>
